<main class="grid grid-cols-1 gap-4">
  <div class="">
    <app-input
      label="Current Password"
      type="password"
      id="current-password"
      class="w-full"
      placeholder="Enter current password"
    />
  </div>

  <div class="">
    <app-input
      label="New Password"
      id="new-password"
      type="password"
      class="w-full"
      placeholder="Enter current password"
    />
  </div>

  <div class="">
    <app-input
      label="Confirm Password"
      type="password"
      id="confirm-password"
      class="w-full"
      placeholder="Enter current password"
    />
  </div>

  <div class="mt-6 flex justify-center">
    <app-button type="submit" class="w-full sm:w-auto md:w-11/12 text-white py-4 px-8">
      Update Changes
    </app-button>
  </div>
</main>
